<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.Get_All_Roles_Test"/>
      <class name="com.test.HealthCheckTest"/>
      <class name="com.test.AuthenticationTest"/>
      <class name="com.test.Get_All_Institution_Test"/>
      <class name="com.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
