<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.tests.GetTraineeTest"/>
            <class name="com.tests.CreateTraineeTest"/>
            <class name="com.tests.InvalidTraineeTest"/>
            <class name="com.tests.PatchUpdateTest"/>
            <class name="com.tests.LoginTest"/>
            <class name="com.tests.PUTUpdateTest"/>
            <class name="com.tests.InvalidLoginTest"/>
            <class name="com.tests.DeleteTest"/>
            <class name="com.tests.OptionsTest"/>
        </classes>
    </test>
</suite>